h1
  font-size 16px;
  font-weight bold;
  margin 20px;
  color blue;

.header
  background-color darkblue
  width 100%
  height 60px
  display flex
  justify-content flex-start
  align-items center
  h1
    color white
    font-size 18px

.people-pagination
  display flex
  justify-content start
  align-items center
  Button
    margin 20px

.people-list
  li
    cursor: pointer
    &:hover
      text-decoration underline
    &:active
      text-decoration underline
      opacity 0.8

.people-details
  h1
    color: black
    font-size: 14px;
    font-weight bold;
    margin: 20px;
  Button
    margin 20px;